<footer>
  <nav>
    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/users/new">New Users</a>
    <a href="/users/:id/edit">Edit user</a>
  </nav>
  <p>Something about the company and how its all≤®≥</p>
</footer>
