<% if(user) { %>
  <p>Found user!</p>
  <p>First name: <%= user.firstName %></p>
  <p>Last name: <%= user.lastName %></p>
  <p>Email: <%= user.email %></p>
<% } else { %>
  <em>user not found, pls. </em>
<% } %>
<p>SOME DIRTY STUFF.... place here</p>
