<section ng-controller="HomeController as home">

<h2>{{ home.title }}</h2>

<div ng-if="">
  <h3>to do:</h3>
  <ul>
    <li ng-repeat="todo in home.todos track by $index">
      {{ todo }}
      <button ng-click="moveToDone()">Complete</button>
      <button ng-sref="edit">Edit</button>
    </li>
  </ul>
  <button ng-click="home.clearTodoList()">Clear ToDos</button>
</div>

<div>
  <h3 ng-if="showWhenDone">Done</h3>
  <ul>
    <li ng-repeat="done in home.todosDone track by $index">
      {{ todosDone }}
    </li>
  </ul>

</div>




  <!-- <h1>{{ home.title }}</h1>


  <div ng-if="home.canDisplayTrainerList()">
      <h2>To DO list: </h2>
      <ul>
        <li ng-repeat="trainer in home.trainers track by $index">
          {{ trainer }}
          <input
            type="text"
            ng-value="trainer"
            ng-model="home.updateTrainerNames[$index]">
          <button type="button" ng-click="home.newName($index)">Save New Name</button>
          <button type="button" ng-click="home.deleteOneTrainer($index)">Delete trainer</button>
        </li>
      </ul>

      <button type="button" ng-click="home.clearTrainerList()">clear trainer list</button>
  </div>
  <h2>Add a Trainer</h2>
  <form action="" name="newTrainer">
    <input type="text" name="trainerName" ng-model="home.newTrainerName">
    <button type="button" ng-click="home.addTrainer()" ng-disabled="home.isAddButtonDisabled()">Add</button>
    <p ng-bind="home.newTrainerName"></p>
  </form>
  <p>
    <a href="#" ng-click="home.showGonzo()">Show me Gonzo!</a>
    <a href="#" ng-click="home.hideGonzo()">hide Gonzo!</a>
    <a href="#" ng-click="home.toggleGonzo()">Toggle Gonzo!</a>
    <span ng-class="home.getGonzoVisibilityClass()">Gonzo on for show!</span>
  </p>

  <img
   src="http://vignette1.wikia.nocookie.net/muppet/images/3/31/Gonzo-TheVoice-2012.jpg"
   height="200"
   ng-if="home.getGonzoVisibility()"
   ng-mouseover="home.hideGonzo()"/> -->

</section>
