<form action="/sessions" method="post">
  <label for="email">Email</label>
  <input id="email" type="email" name="email">

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Not in use">
  <button>Log In</button>
</form>
